.flag-toggle-button {
  float: right;
  background-color: transparent;
  border: none;
  position: relative;
  border: 1px solid rgba(61, 68, 77, 0.7);
  border-radius: 6px;
  background-color: rgb(13, 17, 23);
}